<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/navbar'); %>
    <h1 class="h1 text-center mt-5 mb-4"><%= course_name %></h1>
    <h1 class="h3 text-center"><%= subject %> <%= courseId %></h1>
    <div class="container" style="width: 55%">
      <h1 class="h3">Sections</h1>
      <div class="list-group">
        <% course_sections.forEach(function(course_section){ %> <%-
        include('../partials/course_section', {course_section: course_section});
        %> <% }) %>
      </div>
    </div>
  </body>
</html>
