<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/navbar'); %>
    <h1 class="h1 text-center mt-5 mb-4"><%= metadata["Course Name"] %></h1>
    <% const sections = metadata["Catalog Number"].map(function(item) {
      return item.Subject + " " + item.CourseId; }).join(", "); %>
      <h1 class="h3 text-center"><%= sections %></h1>
    <div class="container">
        <p class="text-center">
          <a href="<%= metadata['url'] %>" target="_blank">Link</a> to original
          course evaluation
        </p>
      </div>
    </div>
  </body>
</html>
